body {

    font: 0.9em/1.4 Arial, Helvetica;
    background: #7F7FD5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Montserrat', sans-serif;
}

.bg-primary {
    background: #0d8fd9 !important;
}

.btn-success {
    background: #00b22d !important;
}

@media (max-width: 991px) {
    .producto img {
        object-fit: cover;
        background-color: black;
        height: 330px;
        width: 600px;;
    }
    .card-body p{
        font-size: 16px !important;
    }
    .card-body a{
        font-size: 16px !important;
    }
    .producto1 p{
        font-size: 16px !important;  
    }
    .producto1 a{
        font-size: 16px !important;  
    }
    h1{
    visibility: hidden;
    }

}

.container {
    background-color: white;

}

.Hero {
    background-image: url(../img/principal.jpg);
    height: 35rem;
    background-size: cover;
    background-position: center center;
}

H1 {
    text-align: center;
    color: black;
    margin-bottom: auto;
    font-family: 'Playfair Display', serif;
}

H2 {
    font-family: 'Abyssinica SIL', serif;
    font-weight: bold;
}

p {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    color: white;
    text-align: center;
    font-family: 'Abyssinica SIL', serif;
    font-weight: bold;
}

.nombre-sitio {
    font-family: 'Playfair Display', serif;
}

.list-group {
    color: white;
    text-align: center;
}

.list-group nav a {
    margin-bottom: 1em;
}







/*nav{
    display: flex;
    justify-content: space-between;
    padding: 0em 1em 2em 1em;
}
*/