body {

    font: 0.9em/1.4 Arial, Helvetica;
    background: #7F7FD5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Montserrat', sans-serif;
}

.bg-primary {
    background: #0d8fd9 !important;
}

.btn-success {
    background: #00b22d !important;
}


.producto img {
    object-fit: cover;
    height: 450px;
    width: 100%;
}

@media (max-width: 991px) {
    .producto img {
        object-fit: cover;
        height: 450px;
        width: 100%;
    }

    main .card-body p {
        font-size: 18px !important;
    }

    main .card-body a {
        font-size: 18px !important;
    }

    .producto1 p {
        font-size: 18px !important;
    }

    .producto1 a {
        font-size: 18px !important;
    }
    h1 {
        visibility: hidden;
    }

    .categoria {
        font-size: 1.5rem !important;
    }
}
.container-xl {
    background-color: white;
}

.Hero {
    background-image: url(../img/principal.jpg);
    height: 35rem;
    background-size: cover;
    background-position: center center;
}

H1 {
    text-align: center;
    color: black;
    margin-bottom: auto;
    font-family: 'Playfair Display', serif;
}

H2 {
    font-family: 'Abyssinica SIL', serif;
    font-weight: bold;
}

p {
    font-family: 'Poppins', sans-serif;
}

h3 {
    color: white;
    text-align: center;
    font-family: 'Abyssinica SIL', serif;
    font-weight: bold;
}

.nombre-sitio {
    font-family: 'Playfair Display', serif;
}

a {
    font-family: 'Poppins', sans-serif;
}

.list-group {
    color: white;
    text-align: center;
    font-family: 'Abyssinica SIL', serif;
}

.list-group nav a {
    margin-bottom: 1em;
    font-family: 'Abyssinica SIL', serif;
}

.boton {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

header nav a {
    margin-left: 75px;
    padding: 2px 0;
    float: left;
    position: relative;
}

header nav a {
    text-decoration: none;
    color: white;
}

header nav a::before {
    display: black;
    content: "";
    width: 0%;
    background: #fff;
    height: 5px;
    top: 3px;
    position: absolute;
    transition: 0.3s ease;
}

header nav a:hover:before {
    width: 100%;
}

.cat img {
    width: 100%;
    transition: all 300ms;
    position: relative;
}

.cat img:hover {
    transform: scale(1.02);
}