body {

    font: 0.9em/1.4 Arial, Helvetica;
    background: #7F7FD5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Montserrat', sans-serif;
}

.bg-primary {
    background: #0d8fd9 !important;
}

.btn-success {
    background: #00b22d !important;
}

/* producto 1 cambia el tama単o de la imagen*/
.producto img {
   object-fit: cover;
    height: 500px;
    width: 100%;
}
/*borra el titulo y cambia el tama単o de fuente de navbar*/
@media (max-width: 991px) {
    
    h1 {
        visibility: hidden;
    }
    .navbar-nav a{
        font-size: 18px !important; 
    }
}
/* quita la animacion de navbar y cambia el tama単o de carrusel*/
@media (max-width: 767px) {
    header nav a::before {
        visibility: hidden;
    }
    .producto img{
        height: auto; 
    }

    header nav a:hover:before {
        visibility: hidden;
    }
    .carousel-item img{
        height: 17rem !important;   
    }
    
}

.container-xl {
    background-color: white;
}
/*carrusel de imagenes modifica el tama単o*/
.carousel-item img {
    height: 35rem;
    object-fit: cover;
}

H1 {
    text-align: center;
    font-family: 'Playfair Display', serif;
}

H2 {
    font-family: 'Abyssinica SIL', serif;
    font-weight: bold;
}

p {
    font-family: 'Poppins', sans-serif;
}

h3 {
    color: white;
    text-align: center;
    font-family: 'Abyssinica SIL', serif;
    font-weight: bold;
}

.nombre-sitio {
    font-family: 'Playfair Display', serif;
}

a {
    font-family: 'Poppins', sans-serif;
}
/* footer*/
.list-group {
    color: white;
    text-align: center;
    font-family: 'Abyssinica SIL', serif;
}

.list-group nav a {
    margin-bottom: 1em;
    font-family: 'Abyssinica SIL', serif;
}

/* efecto navbar*/
header nav a {
    margin-left: 75px;
    padding: 2px 0;
    float: left;
    position: relative;
}

header nav a {
    text-decoration: none;
    color: white;
}

header nav a::before {
    display: black;
    content: "";
    width: 0%;
    background: #fff;
    height: 5px;
    top: 3px;
    position: absolute;
    transition: 0.3s ease;
}

header nav a:hover:before {
    width: 100%;
}

/* Efecto en la imagenes de catalogo*/
.cat img {
    transition-property: transform;
    transition-duration: 300ms;

}
.cat img:hover {
    transform: scale(1.2);
   
}

